.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.search-bar input {
    border: none;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    margin: 90px 0px 20px;
    background-color: rgb(92, 92, 92);
    color: white;
}

.search-bar input::placeholder {
    color: rgb(165, 165, 165);
}

.filters {
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.category {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 5px;
}

.category select {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
}