.cart-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.cart-product-card {
    background-color: rgb(105, 105, 105);
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 5px;
    border-radius: 5px;
}

.cart-product-card input{
    display: block;
}

.checkout-container {
    position: fixed;
    bottom: 0;      
    left: 0;        
    width: 100%;    
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000; 
}

.empty-cart {
    display: flex;
    justify-content: center;
    color: white;
}